// ================================================
// COMPONENT VARIABLES
// ================================================

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    margin: 0 auto;
    font-size: $base-font-size;
    color: $font-color-base;
    overflow-x: hidden;
}


section {
    padding: 3rem 0 2rem;
}

main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -29px;
}

.post {
    &__header {
        text-align: center;
    }
    &__title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 2;
        letter-spacing: 1px;
        font-size: $font-size-3;
    }
    
}

footer {
    clear: both;
    height: 29px;
}


