// Mixin flex content
@mixin flex {
    display: flex;
    display: -ms-flexbox;
}

@mixin flexHorizontal {
    @include flex;
    align-items: center;
}

@mixin flexVerical {
    @include flexHorizontal;
    flex-direction: column;
}

@mixin flexCenter {
    @include flexVerical;
    justify-content: center;
}

// mixin  Pseudo-elementy 
@mixin afterBefore($bg-color:null, $top:null, $left:null) {
    content: '';
    position: absolute;
    margin: 0 auto;
    background-color: $bg-color;
    top: $top;
    left: $left;
    transform: translate(-50%, 0);
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin svg($svg) {
    background-image: url('data:image/png;base64,'+ $svg);
    background-image: url('data:image/svg+xml,'+ $svg);
    background-repeat: no-repeat;
}
