.about {
    &__aside {
        align-items: center;
        flex-direction: column;
    }

    &__header {
        @include flexCenter;
    }

    &__copy {
        text-align: center;
        color: #333;
        padding: 0 2rem;
    }

    &__icon {
        margin-top: 2rem;
        border: 2px solid $bg-icon;
        color: $bg-hover;
        padding: 2rem;
        border-radius: 50%;
        i {
            font-size: 2rem;
        }
    }

}
