.price {
    padding: 3rem 0;

    &__box {
        text-align: center;
        border: 2px solid $bg-light;
        padding: 0;
        margin: 1rem;

        &--active {
            border-color: $bg-icon;
        }
    }

    &__header {
        background-color: $bg-light;
        padding: 2rem 0;
        font-weight: 600;
        text-transform: uppercase;

        &--active {
            background-color: $bg-icon;
            color: #fff;
        }

    }

    &__amount {
        font-family: $font-header;
        font-size: $font-size-3;
        line-height: 2;
    }

    &__features {
        padding: 2rem 0;

        li {
            position: relative;
            padding-bottom: 1.5rem;

            .fa,
            .fas {
                position: absolute;
                top: 2px;
                left: 2rem;
                font-size: $font-small;
            }

        }
    }

    &__btn {
        background-color: $bg-light;
        border: 2px solid $bg-light;
        text-transform: uppercase;
        padding: .75rem 0;
        color: #222;
        transition: all .3s linear;
        position: relative;
        width: 10rem;
        margin: 1rem auto 0;
        cursor: pointer;

        a {
            color: #222;
        }

        &--active {
            background-color: $bg-icon;
            border: 2px solid $bg-icon;

            a {
                color: #fff;
            }

            &:hover {
                a {
                    color: #222;
                }
            }
        }

        &:hover {
            border-color: #67d5b5;
            background-color: transparent;
            color: #222;
            border: 2px solid $bg-icon;
        }


    }

}
