.team {

    &__body {
        background-color: $bg-light;
        margin-top: 2rem;
    }

    &__aside {
        padding: 2rem 0 2rem 2rem;
    }

    &__image {
        img {
            width: 100%;
        }
    }

    &__block {
        padding: 1rem 0;
    }

    &__icon {
        img {
            text-align: center;
            padding: 1rem;
            border-radius: 50%;
            background: $bg-icon;
        }
    }
}
